ion-item {
    .item-inner {
        border-bottom-width: 0px;
    }
}


.list-style {
    display: flex; 
    justify-content: center;
    gap: 10px;
    padding-left: 24px;
    padding-right: 24px;
}
.item-style {
    border-bottom-width: 0px;
    --padding-start: 0;
  --inner-padding-end: 0;
  ion-text {
    padding: 8px 16px;
  }
  
}