ion-img::part(image) {
    border-radius : 8px!important;

}

ion-item {
    height: 50px;
}

.image-layout {
    height: 44px;
    width: 44px;
}

.text-style {
    display: flex;align-items:center
}