.music-player {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #060606;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    .controls {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
  }

  .card-css {
    position: fixed;
    background-color: black;
    color: white;
    z-index: 9999;
    margin-bottom: 2px;
    bottom: 65px;
    right: 10px;
  }