<app-general-header [backbutton] ="backbutton"  [title] ="title" ></app-general-header>

<ion-content class="ion-padding">
  
  <div class="flex justify-center">
    <ion-avatar class="flex justify-center avatar">
      <img alt="avatar" [src]="artist.avatar" />
    </ion-avatar>
  </div>
  <ion-text class="flex justify-center py-1.5">
    <h1>{{artist.artist}}</h1>
  </ion-text>
  <ion-segment value="album" class="mt-4" #segment>
    <ion-segment-button value="album">
      <ion-label color="light">
        <p class="flex justify-center">{{ artist.albums ? artist.albums.length : 0 }}</p>
        <p>{{'Albums'|translate|uppercase }}</p>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="song">
      <ion-label color="light">
        <p class="flex justify-center">{{ artist.songs ? artist.songs.length : 0 }}</p>
        <p>{{'Songs'|translate|uppercase }}</p>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label color="light">
        <p class="flex justify-center">{{ artist.followers}}</p>
          <p>{{'Followers'|translate|uppercase }}</p>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
 

 
  <ion-list class="mt-5" *ngIf="segment.value === 'song'">
    <app-horizontal-card-item [song]="item" *ngFor="let item of artist.songs"></app-horizontal-card-item>
  </ion-list>
  <ion-list class="mt-5" *ngIf="segment.value === 'album'">
    <app-horizontal-card-item [album]="item"  *ngFor="let item of artist.albumsDetail"></app-horizontal-card-item>
  </ion-list>
  
</ion-content>

