/*.text-style {
    display: flex;align-items:center
}*/

ion-img::part(image) {
    border-radius : 8px!important;
}

.heart-icon {
  color: #171621;
}

.heart-icon-fav {
  color: #ff0000;
}
ion-item {
  --min-height:100px;
}
ion-item::part(native) {
  padding: 0px;
  align-items: normal !important;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: rgb(7, 7, 7);
}

.top-right-icon {
  cursor: pointer;
}
