<ion-list *ngFor="let item of playlists;">

  <ion-item [button]="true" detail="false" class="relative ">
    <div class="unread-indicator-wrapper size-[80px] " slot="start">
      <ion-img src="assets/test.jpg" alt="albumcover"></ion-img>
    </div>
    <ion-text class="text-left h-20">
      <h1 class="text-base font-bold">{{item.name}}</h1>
      <h3 class="text-sm font-light text-slate-500">{{ item.song ? item.song.length : 0 }} song(s)</h3>
    </ion-text>
    <div class="metadata-end-wrapper gap-x-2 flex flex-col justify-between h-full items-end h-20" slot="end">
      <div>
        <ion-icon name="ellipsis-vertical" class="top-right-icon"></ion-icon>
      </div>
      <div class="space-x-">
        <ion-button shape="round" color="light" (click)="makeFavorite()">
          <ion-icon class="{{ isFavorite ? 'heart-icon-fav' : 'heart-icon' }}" [name]="isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="light" (click)="openModal(item)" >
          <ion-icon name="share-social-outline"  class="absolute"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>
