<app-general-header  endIcon ="ellipsis-horizontal" backbutton ="back" title="{{'Settings'|translate}}" ></app-general-header>

<ion-content [fullscreen]="true">
  <ion-item-group class="mt-2">
    <ion-item-divider >
      <ion-label>{{ 'Account'|translate }}</ion-label>
    </ion-item-divider>

    <ion-item [button]="true" detail="true" class="mt-2">
      <ion-icon  slot="start" name="person-outline"></ion-icon>
      <ion-label>{{ 'Account'|translate }}</ion-label>
    </ion-item>
    <ion-item [button]="true" detail="true" id="verify-modal" class="mt-2">
      <ion-icon  slot="start" name="key-outline"></ion-icon>
      <ion-label>{{ 'Email verification'|translate }}</ion-label>
    </ion-item>
    @if (user.isArtist) {
      <ion-item [button]="true" detail="true" class="mt-2">
        <ion-icon  slot="start" name="person-outline"></ion-icon>
        <ion-label>{{ 'Switch to artist account'|translate }}</ion-label>
      </ion-item>
    }

  </ion-item-group>

  <ion-item-group >
    <ion-item-divider>
      <ion-label>{{ 'Content'|translate }}</ion-label>
    </ion-item-divider>

    <ion-item [button]="true" detail="true" id="language-modal" class="mt-2">
      <ion-icon  slot="start" name="language-outline"></ion-icon>
      <ion-label>{{ 'Language'|translate }}</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group >
    <ion-item-divider >
      <ion-label>{{ 'Connexion'|translate }}</ion-label>
    </ion-item-divider>
    <!--@if (!user.isArtist) {
      <ion-item [button]="true" detail="true" id="artist-modal" class="mt-2">
        <ion-icon  slot="start" name="person-outline"></ion-icon>
        <ion-label>{{'Become artist'|translate }}</ion-label>
      </ion-item>
    }-->

    <ion-item [button]="true" detail="true" id="logout-modal" class="mt-2">
      <ion-icon  slot="start" name="log-out-outline"></ion-icon>
      <ion-label>{{'Logout'|translate }}</ion-label>
    </ion-item>
    <ion-item [button]="true" detail="true" lines="none" id="delete-modal" class="mt-2">
      <ion-icon  slot="start" name="trash-bin-outline" color="danger"></ion-icon>
      <ion-label color="danger">{{'Delete account'|translate }}</ion-label>
    </ion-item>
  </ion-item-group>


  <ion-modal #languagemodal trigger="language-modal" class="language-modal my-48" >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="ion-text-center"><ion-icon name="language-outline" size="large"></ion-icon></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="resetLanguage(languagemodal)"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-text>
          <div class=" h-30 py-5 ">
            <h1 class="flex justify-center font-bold">{{'Change Language'|translate }}</h1>
            <p class="flex justify-center">{{'Choose the language you want to use'|translate }}</p>
          </div>
        </ion-text>
        <ion-radio-group [(ngModel)]="selectedLanguage" class="flex justify-center space-x-4 ..." alignment="center">
          <ion-radio value="english"  aria-label="Custom checkbox">{{'English'|translate }}</ion-radio>
          <ion-radio value="french"  aria-label="Custom checkbox that is checked">{{'French'|translate }}</ion-radio>
        </ion-radio-group>

        <div class="modal-btns absolute inset-x-0 bottom-0  flex justify-between px-8 space-x-4 ">
          <ion-button class="flex-1" expand="block" color="light" (click)="resetLanguage(languagemodal)">{{'Cancel'|translate }}</ion-button> <ion-button class="flex-1" expand="block" (click)="changeLanguage(languagemodal)">{{'Confirm'|translate }}</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #logoutmodal trigger="logout-modal" class="logout-modal my-48">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="ion-text-center"><ion-icon name="log-out-outline" size="large" color="danger"></ion-icon></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="logoutmodal.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-text>
          <div class=" h-90 py-5 ">
            <h1 class="flex justify-center font-bold">{{'Logout'|translate }}</h1>
            <p class="flex justify-center">{{'Do you really want to logout?'|translate }}</p>
          </div>
        </ion-text>
        <div class="absolute inset-x-0 bottom-0 h-16 flex justify-between px-8 py-4 space-x-4">
          <ion-button class="flex-1" expand="block" color="light" (click)="logoutmodal.dismiss()">{{'Cancel'|translate }}</ion-button> <ion-button class="flex-1" expand="block" color="danger" (click)="logout(logoutmodal)">{{'Confirm'|translate }}</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #deletemodal trigger="delete-modal" class="logout-modal my-48">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="ion-text-center"><ion-icon name="trash-bin-outline" size="large" color="danger"></ion-icon></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="deletemodal.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-text>
          <div class=" h-90 py-5 ">
            <h1 class="flex justify-center font-bold">{{'Delete Account'|translate }}</h1>
            <p class="flex justify-center text-center">{{'Are you sure you want to delete this account? This action cannot be undone.'|translate }}</p>
          </div>
        </ion-text>
        <div class=" modal-btns absolute inset-x-0 bottom-0 h-16 flex justify-between px-8 py-4 space-x-4">
          <ion-button class="flex-1" expand="block" color="light" (click)="deletemodal.dismiss()">{{'Cancel'|translate }}</ion-button> <ion-button class="flex-1" expand="block" color="danger" (click)="deleteAccount(deletemodal)">{{'Confirm'|translate }}</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #verifymodal trigger="verify-modal" class="logout-modal my-48">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="ion-text-center"><ion-icon name="mail-outline" size="large"></ion-icon></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="verifymodal.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-text>
          <div class=" h-90 py-5 ">
            <h1 class="flex justify-center font-bold">{{'Verify email'|translate }}</h1>
            <p class="flex justify-center text-center">{{"We’ll email you a verification code to your email that you used to register on this account"|translate }}</p>
          </div>
        </ion-text>
        <div class=" modal-btns absolute inset-x-0 bottom-0 h-16 flex justify-between px-8 py-4 space-x-4">
          <ion-button class="flex-1" expand="block">{{'Send'|translate }}</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #artistmodal trigger="artist-modal" class="artist-modal">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="ion-text-center">{{'Create your artist account'|translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="artistmodal.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
       <form [formGroup]="form"  class="form_css">
          <ion-list class="bg-transparent">
            <ion-item class="py-5">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-button (click)="selectImage()">
                <ion-icon  slot="start" name="cloud-download-outline"></ion-icon>
                {{"Upload photo"|translate}}
              </ion-button>
              <input type="file" />
            </ion-item>
            <p class="input-label">{{'Fullname'|translate }}</p>
            <ion-item class="pb-5">
              <ion-input
                type="text"
                formControlName="fullname"
                ngDefaultControl
                name="fullname" required
              ></ion-input>
            </ion-item>
            <p class="input-label">{{'Label'|translate }}</p>
            <ion-item class="pb-5">
              <ion-input
                type="text"
                formControlName="label"
                ngDefaultControl
                name="label" required
              ></ion-input>
            </ion-item>
            <p class="input-label">{{'Description'|translate }}</p>
              <ion-item class="flex">
                  <ion-textarea
                    name="description"
                    formControlName="description"
                    fill="solid"
                  ></ion-textarea>
              </ion-item>
          </ion-list>
        <div class="absolute inset-x-0 bottom-0 h-28  px-8 py-4 ">
          <ion-button class="flex-1" expand="block" (click)="onSubmitArtist()">{{'Confirm'|translate }}</ion-button>
          <ion-button class="flex-1" expand="block">{{'Cancel'|translate }}</ion-button>
        </div>
      </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
