.home-header {
    padding-left: 24px;
    padding-right: 24px;
    display: flex; 
    justify-content: center;
}

ion-button {
    --color:#15AB90!important;
}

.title-style {
    margin-right: 4px;
    font-weight: bolder;
}