<ion-content class="ion-content-player" [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="transparent-header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title> Olivia Lyrics </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Song image in the middle with rounded borders and paddings -->
  <div class="song-image">
    <ion-img src="assets/test.jpg" alt="SpotyMike"></ion-img>
  </div>

  <!-- Song title, subtitle and favorite and share buttons  -->
  <ion-row class="song-info">
    <ion-col size="7">
      <p class="song-title">Olivia</p>
      <p class="song-subtitle">One Direction</p>
    </ion-col>
    <ion-col size="5" class="icons-col">
      <ion-icon name="share-social-outline" class="share-icon"></ion-icon>
      <ion-icon
        name="{{ isFavorite ? 'heart' : 'heart-outline' }}"
        class="{{ isFavorite ? 'heart-icon-fav' : 'heart-icon' }}"
        (click)="makeFavorite()"
      ></ion-icon>
    </ion-col>
  </ion-row>

  <!-- Range slider -->
  <ion-row>

      <ion-range
        class="range"
        [value]="progress"
        (ionChange)="onIonChange($event)"
      ></ion-range>

  </ion-row>

  <!-- Time and duration -->
  <ion-row>
    <ion-col size="6" style="text-align: left;" class="time">{{ currentTime }}</ion-col>
    <ion-col size="6"   style="text-align: right;" class="time">{{ duration }}</ion-col>
  </ion-row>

  <!-- Music controls -->
  <ion-row class="media-buttons">
    <ion-col class="left" size="2">
      <ion-icon name="repeat" class="icon-sides"></ion-icon>
    </ion-col>
    <ion-col class="right" size="2">
      <ion-icon name="play-skip-back-outline" class="icon"></ion-icon>
    </ion-col>
    <ion-col class="center" size="4">
      <ion-icon
        name="{{ isPlaying ? 'pause-circle' : 'play-circle' }}"
        class="icon-play"
        (click)="playMusic()"
      ></ion-icon>
    </ion-col>
    <ion-col class="left" size="2">
      <ion-icon name="play-skip-forward-outline" class="icon"></ion-icon>
    </ion-col>
    <ion-col class="right" size="2">
      <ion-icon name="shuffle" class="icon-sides"></ion-icon>
    </ion-col>
  </ion-row>

  <!-- Lyrics section -->
  <ion-card class="lyrics-card">
    <ion-card-content>
      <ion-row class="lyrics-title">
        <ion-col size="6">
          <p>Lyrics</p>
        </ion-col>
        <ion-col size="6" class="icons-col">
          <ion-icon name="expand" class="lyrics-icon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>{{ currentLyric }}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
