<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-title>Share</ion-title>
    <ion-buttons slot="end" >
      <ion-button  (click)="dismiss()" shape="round" ><ion-icon name="close-circle" class="size-6" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-buttons >
    <ion-button shape="round" ><ion-icon name="logo-facebook" class="size-10" color="secondary"></ion-icon></ion-button>
    <ion-button shape="round" ><ion-icon name="logo-whatsapp" class="size-10" color="success" ></ion-icon></ion-button>
    <ion-button shape="round" ><ion-icon name="logo-instagram" class="size-10" color="tertiary" ></ion-icon></ion-button>
    <!-- TODO : RENAME THIS TO TWITTERS COLOR -->
    <ion-button shape="round" ><ion-icon name="logo-twitter" class="size-10" color="warning"></ion-icon></ion-button>
  </ion-buttons>
</ion-content>


