ion-content {
  padding: 5%;
  .home-header {
      width: 100%; // Full width of the toolbar
      height: 2.875rem; // Height as per your design
      display: flex;
      align-items: center; // Vertically align items

      .user_logo {
        width: 3rem;
        height: 3rem;
        ion-button {
          width: 3rem!important;
          height: 13rem!important;
        }

        .logo {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: contain; // Ensures the image fits within the avatar without distortion
        }
      }
    }



  ion-row {
    justify-content: center;
  }

  .card {
    width: 20.4375rem;
    height: 10.625rem;
    background-image: url('/assets/home/default.svg');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;    /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  ion-card {
    --background: transparent !important;
    }

  .image_default {
    border-bottom-right-radius: .625rem !important;
    overflow: hidden;
    object-fit: fill;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0s;
    margin-bottom: .1875rem;
  }

  .img-style {
    width: 7.9375rem;
    height:10.625rem;
    padding-top: 0rem;
    margin-top:0rem;
    border-radius: 0;
  }

    ion-icon {
      width: 1.5rem;height:1.5rem;
    }

    .no-padding {
      padding-bottom: 0rem;
      padding-top: 0rem;
    }

    .img-col {
      flex: 0 0 auto;
      width: auto;
    }

    .album-col {
      padding-top: .625rem;
      padding-bottom: 0rem;
      div {
        width: 9.6875rem;
        color:white
      }
    }

}
