<ion-content [fullscreen]="true">
  <ion-toolbar class="home-header">
    <ion-avatar slot="start">
      <ion-img class="logo" src="assets/icon/logo_mini.png" alt="SpotyMike"></ion-img>
    </ion-avatar>
    <ion-title></ion-title>
    <ion-buttons slot="end" style="margin-right: 0px;">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="card">
    <ion-grid>
      <ion-row class="pad-50">
        <ion-col class="center">
          <ion-img src="assets/icon/logo.png" alt="SpotyMike"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
