

<app-general-header  [endIcon] ="end_icon" [image] ="image" ></app-general-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="auto" >
        <div class="card">
          <ion-grid class="no-padding">
            <ion-row>
              <ion-col size="auto" class="album-col" >
                <div class=" h-90 py-5">
                  <h3 class="leading-relaxed text-base">New Album</h3>
                  <h1 class="leading-relaxed text-2xl font-bold">{{latestAlbum.category}}</h1>
                  <h6 class="leading-relaxed text-sm">Discover {{ latestAlbum.song ? latestAlbum.song.length : 0 }} songs!</h6>
                  <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                </div>

              </ion-col>
              <ion-col size="auto" class="no-padding img-col">
                <div class="img-style">
                  <ion-img class="image_default" src="{{latestAlbum.cover}}" alt="SpotyMike"></ion-img>
                </div>

              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-see-all [elementTitle] = "elementTitles[0].title" [link]="elementTitles[0].link"></app-see-all>
  <app-switchable-buttons></app-switchable-buttons>
  <app-see-all [elementTitle] = "elementTitles[1].title" [link]="elementTitles[1].link"></app-see-all>
  <app-vertical-card [songs] = "songs"></app-vertical-card>
  <app-see-all [elementTitle] = "elementTitles[2].title" [link]="elementTitles[2].link"></app-see-all>
  <app-horizontal1-card [lastPlayeds] = "lastPlayeds"></app-horizontal1-card>
  <app-see-all [elementTitle] = "elementTitles[3].title" [link]="elementTitles[3].link"></app-see-all>
  <app-vertical-card [albums] = "albums"></app-vertical-card>
  <app-see-all [elementTitle] = "elementTitles[4].title" [link]="elementTitles[4].link"></app-see-all>
  <app-vertical-card [artists] = "artists"></app-vertical-card>
  <app-see-all [elementTitle] = "elementTitles[5].title" [link]="elementTitles[5].link"></app-see-all>
  <app-horizontal1-card [playlists] = "playlists"></app-horizontal1-card>
</ion-content>
