ion-img::part(image) {
    border-radius : 30px!important;
    object-fit: fill!important;
}

ion-img {
    width: 90px;
    height: 90px;
}

swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
