
<ion-list class="list-style">
  <ion-grid>
    <ion-row *ngIf="albums && albums.length > 0">
      <ion-col *ngFor="let album of albums;" >
        <div class="list-style"><ion-img class="image_default" src="{{album.cover}}" alt="albumcover"></ion-img></div>
        <h3 class="list-style">{{album.title}}</h3>
        <h6 class="list-style"> songs</h6>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="songs && songs.length > 0">
      <ion-col *ngFor="let song of songs;">
        <div class="list-style"><ion-img class="image_default"  src="{{song.cover}}" alt="songcover"></ion-img></div>
        <ion-text class="list-style text-style"><h4 >{{song.artist.artist}}</h4></ion-text>
        <ion-text class="list-style text-style">{{song.title}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>