ion-toolbar {
    --border-color: transparent;
    --ion-toolbar-border-width: 0;
    border: none;
    box-shadow: none;
    --color: rgb(0, 0, 0);
    --background: transparent;
    padding: 1rem 1rem;
  }


  .logo {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain; // Ensures the image fits within the avatar without distortion
  }
