ion-toolbar {
    --border-color: transparent;
    --ion-toolbar-border-width: 0;
    border: none;
    box-shadow: none;
    --color: rgb(0, 0, 0);
    --background: transparent;
    padding: 1rem 1rem;
  }


  .logo {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain; // Ensures the image fits within the avatar without distortion
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #15AB90;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  ion-button::part(native) {
    padding : 0px!important;
}

