<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="w-9 h-9">
      @if (initial) {
        <div class="avatar">
          <span>{{ initial }}</span>
        </div>
      }
      @else{

        @if(backbutton){
          <ion-back-button defaultHref="/home" style="color:grey;"  icon="arrow-back"></ion-back-button>
        }@else {
          <ion-icon slot="icon-only" [name]="startIcon"></ion-icon>
        }

      }
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" >
    <ion-button [href]="endLink">
      <ion-icon slot="icon-only" style="color: grey;" [name]="endIcon" ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="color: grey;" class="text-base  font-bold ion-text-center">{{title}}</ion-title>
</ion-toolbar>
